<ng-container [formGroup]="airspaceForm">
  <div formArrayName="rat">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3em">
      <p fxFlex="initial"><strong>Temporary Restrictions, RA(T)</strong></p>
      <button fxFlex="initial" mat-button color="primary" type="button" (click)="clearall()">Clear</button>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="5px grid" fxAlign="start">
      <div fxFlex="33%" fxFlex.lt-sm="100%" fxFlex.lt-lg="50%" *ngFor="let name of names; index as i">
        <mat-checkbox [formControlName]="i">
          {{name}}
        </mat-checkbox>
      </div>
    </div>

  </div>
</ng-container>
