<div class="container" fxLayout="row" fxLayoutAlign="center">
<div fxFlex="80%" fxFlex.xs="95%">
<form [formGroup]="airspaceForm" (ngSubmit)="onSubmit()">

  <mat-tab-group dynamicHeight>
    <mat-tab label="Main">
      <div formGroupName="airspace">
        <h2>Airspace</h2>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>ATZ:</mat-label>
            <select matNativeControl formControlName="atz">
              <option *ngFor="let x of atz" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ILS Feather:</mat-label>
            <select matNativeControl formControlName="ils">
              <option *ngFor="let x of ils" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>Unlicensed A/F:</mat-label>
            <select matNativeControl formControlName="unlicensedAirfield">
              <option *ngFor="let x of unlicensedAirfield" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Microlight A/F:</mat-label>
            <select matNativeControl formControlName="microlightAirfield">
              <option *ngFor="let x of microlightAirfield" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>Gliding A/F:</mat-label>
            <select matNativeControl formControlName="glidingAirfield">
              <option *ngFor="let x of glidingAirfield" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Exclude Home A/F:</mat-label>
            <select matNativeControl formControlName="homeAirfield">
              <option *ngFor="let x of glidingSites" [ngValue]="x">{{x}}</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>HIRTA/GVS:</mat-label>
            <select matNativeControl formControlName="hirtaGvs">
              <option *ngFor="let x of hirtaGvs" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Obstacle:</mat-label>
            <select matNativeControl formControlName="obstacle">
              <option *ngFor="let x of obstacle" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="options">
        <h2>Options</h2>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>Max Level:</mat-label>
            <select matNativeControl formControlName="maxLevels">
              <option *ngFor="let x of maxLevels" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Radio Frequencies:</mat-label>
            <select matNativeControl formControlName="radioFreqs">
              <option *ngFor="let x of radioFreqs" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
          <mat-form-field>
            <mat-label>Omit North of:</mat-label>
            <select matNativeControl formControlName="norths">
              <option *ngFor="let x of norths" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Omit South of:</mat-label>
            <select matNativeControl formControlName="souths">
              <option *ngFor="let x of souths" [ngValue]="x.id">{{x.name}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Extras">
      <app-rats-editor [airspaceForm]="airspaceForm" [yaixm]="yaixm"></app-rats-editor>
    </mat-tab>

  </mat-tab-group>

  <button mat-raised-button color="primary" type="submit">Save</button>

</form>
</div>
</div>
