<div id="about" class="mat-typography">
  <h3>Airspace</h3>
  <p>ASSelect generates up-to-date airspace data for mainland UK in OpenAir
  format.</p>
  <p><em>I try to make this data accurate, but there will still be some errors.
  Please don't blame me if you go somewhere you shouldn't have gone while
  using this data!</em></p>
  <h3>Output Format</h3>
  <p>The "RA(T) only" option downloads only the selected RATS.
  This gives you the option of updating your moving map software without
  changing the main airspace file.</p>
  <p>"Competition" format is intended for competition organiser use only.</p>
  <h3>Airspace Types</h3>
  <p><em>Unlicensed Airfields</em> are aerodromes (without an ATZ) listed
  in section ENR&nbsp;5.5 of the AIP. The AIP does not include the majority
  of smaller airfields shown on the 1:500000 chart and they are not
  included by ASSelect.</p>
  <p><em>Gliding Airfields</em> are listed in ENR&nbsp;5.5. ASSelect plots
  them with a radius of 1&nbsp;nm.  To avoid unnecessary airspace warnings
  ASSelect can exclude your home site.</p>
  <p><em>Microlight Airfields</em> are listed in ENR&nbsp;5.5 and
  plotted with a radius of 0.5&nbsp;nm.</p>
  <p><em>Obstacles</em> are listed in ENR&nbsp;5.4. ASSelect includes only
  obstacles with a height of greater than 600&nbsp;ft (mainly radio masts).</p>
  <p><em>ATZs</em>. A radio call is required before entering an active
  ATZ. The BGA recommend setting them to class&nbsp;D as a reminder.
  Setting them as Control Zones instead will also generate an airspace
  warning and also distinguishing them from true class&nbsp;D airspace.</p>
  <p><em>ILS Feathers</em> are not strictly an airspace type but the
  BGA recommend a radio call if you fly in their vicinity. Note the feather
  is symbolic only - the instrument approach procedure can extend either
  side of the feather.</p>
  <h3>Local Agreements</h3>
  <p>BGA letters of agreement are listed on the
  <a class="text-primary" href="https://members.gliding.co.uk/library/loas/">BGA website</a>.
  With the exception of the Cambridge RAZ a local club briefing is
  required before using any local agreement.</p>
  <p><em>Cambridge RAZ</em>. The Cambridge Radio Advisory Zone (RAZ)
  is not controlled airspace. You are encouraged to make contact with
  Cambridge Approach before entering the RAZ. Unlike other LOAs the RAZ is
  permanently enabled in ASSelect. Note - Openair doesn't support
  a RAZ airspace type so a Radio Mandatory Zone (RMZ) type is substituted.</p>
  <h3>Radio Frequencies</h3>
  <p>ASSelect can optionally append radio frequencies to the airspace name.</p>
  <h3>Temporary Restrictions, RA(T)</h3>
  <p>RA(T)s are detailed in Mauve AICs on the
  <a class="text-primary"
     href="https://nats-uk.ead-it.com/cms-nats/opencms/en/Publications/Aeronautical-Information-Circulars-AICs/mauve-aics/">
    NATS AIS website
  </a>.
  RA(T)s can be downloaded separately from the rest of the airspace,
  see Output Formats above.</p>
  <h3>Data</h3>
  <p>Airspace data is updated every four weeks - see
  <a class="text-primary"
    href="https://nats-uk.ead-it.com/cms-nats/export/sites/default/en/Publications/publication-schedule/10-year-AIRAC.pdf">
    Schedule
  </a>.
  I normally update this site approximately two weeks in advance of
  the effective date.<p>
  <p>You can freely download the ASSelect airspace database from
  <a class="text-primary" href="https://github.com/ahsparrow/airspace">GitHub</a>.</p>
  <h3>Contact</h3>
  <address>Comments, corrections and complaints to:
    <a href="mailto:web@asselect.uk">Alan Sparrow</a></address>
  <p><a href="https://github.com/ahsparrow/asselect">Version: 1.1.0</a></p>
</div>

