<section class="mat-typography">
  <h2>ASSelect UK</h2>
  <p>Up-to-date airspace data for mainland UK in OpenAir format.</p>
  <p><em>I have tried to make this data as accurate as possible, but
  there will still be errors. Good airmanship is your responsibility,
  not mine. Don't blame me if you go somewhere you shouldn't have
  gone while using this data.</em></p>
  <h3>Output Format</h3>
  <p>The output format is OpenAir. Competition format is intended for
  competition organisers only.</p>
  <p>RA(T)s can be download separately from the main airspace
  by setting the Format to "OpenAir, RA(T) only". Your moving map can
  then be updated without changing the main airspace file.</p>
  <h3>Airspace Types</h3>
  <p><em>Unlicensed Airfields</em> are aerodromes (without an ATZ) listed
  in section ENR&nbsp;5.5 of the AIP. The majority of smaller airfields
  shown on the 1:500000 chart are not listed in the AIP and are not
  included by this app.</p>
  <p><em>Gliding Airfields</em> are listed in ENR&nbsp;5.5 and are
  given a radius of 1&nbsp;nm by ASSelect. Your home site is
  excluded if selected on the Opt tab.</p>
  <p><em>Microlight Airfields</em> are listed in ENR&nbsp;5.5 and
  are given a radius of 0.5&nbsp;nm by ASSelect.</p>
  <p><em>Obstacles</em> are listed in ENR&nbsp;5.4. Only obstacles
  with a height of greater than 600&nbsp;ft (mainly radio masts) are
  included by ASSelect.</p>
  <p><em>ATZs</em>. A radio call is required before entering an active
  ATZ. The BGA recommend setting them to Class&nbsp;D as a reminder.
  However setting them as Control Zones will also generate an airspace
  warning while distinguishing them from true Class&nbsp;D airspace.</p>
  <p><em>ILS Feathers</em> are not strictly an airspace type but the
  BGA recommend a radio call if you are in the vicinity. It's also
  recommended to set the airspace type to generate a warning on your
  moving map. Note the feather is symbolic only - the instrument
  approach procedure extends well outside the area of the feather.</p>
  <h3>Local Agreements</h3>
  <p>BGA letters of agreement are listed on the
  <a class="text-primary" href="https://members.gliding.co.uk/library/loas/">BGA website</a>.
  With the exception of the Cambridge RAZ a local club briefing is
  required before using any local agreement.</p>
  <p><em>Cambridge RAZ</em>. The Cambridge Radio Advisory Zone (RAZ)
  is not controlled airspace. Although it's not mandatory anyone flying
  in the vicinity of Cambridge airport is encouraged to make contact
  with Cambridge Approach before entering the RAZ. The RAZ is
  permanently enabled in ASSelect. Note - Openair doesn't support
  a RAZ airspace type so a Radio Mandatory Zone (RMZ) type is used
  as a substitute.</p>
  <h3>Radio frequencies</h3>
  <p>Radio frequencies can be appended to the airspace name. Some
  frequencies may be missing - Please let me know if you spot something
  wrong.</p>
  <h3>Temporary Restrictions, RA(T)</h3>
  <p>RA(T)s are detailed in Mauve AICs on the
  <a class="text-primary" href="http://www.nats-uk.ead-it.com/public/index.php.html">NATS AIS website</a>.
  RA(T)s can be downloaded separately from the rest of the airspace,
  see Output Formats above.</p>
  <h3>Data</h3>
  <p>Airspace data is updated every four weeks - see
  <a class="text-primary" href="http://www.nats-uk.ead-it.com/aip/current/misc/10_Year_AIRAC.pdf">Schedule</a>.
  This site is normally updated approximately two weeks in advance of
  the effective date.<p>
  <p>The airspace database can be downloaded from
  <a class="text-primary" href="https://github.com/ahsparrow/airspace">GitHub</a>.</p>
  <h3>Contact</h3>
  <address>Comments, corrections and complaints to:
    <a href="mailto:web@asselect.uk">Alan Sparrow</a></address>
  <p><a href="https://github.com/ahsparrow/asselect">Version: 0.0.1</a></p>
</section>

