<mat-toolbar>
  <span>ASSelect UK</span>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex.gt-md="65%" fxFlex="80%" fxFlex.xs="95%">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

      <mat-tab-group dynamicHeight>
        <mat-tab label="Main">
          <app-airspace-editor [yaixm]="yaixm" [airspaceForm]="formGroup"></app-airspace-editor>
          <app-option-editor [airspaceForm]="formGroup"></app-option-editor>
        </mat-tab>

        <mat-tab label="Extras">
          <app-rats-editor [airspaceForm]="formGroup" [names]="ratNames"></app-rats-editor>
          <app-loa-editor [airspaceForm]="formGroup" [names]="loaNames"></app-loa-editor>
          <app-wave-editor [airspaceForm]="formGroup" [names]="waveNames"></app-wave-editor>
        </mat-tab>

        <mat-tab label="About">
          <app-about></app-about>
        </mat-tab>
      </mat-tab-group>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button fxFlex="initial" color="primary" type="submit">Save</button>
        <p  class="mat-body-1" fxFlex="initial">AIRAC: {{airac}}</p>
      </div>

    </form>
  </div>
</div>
