<ng-container [formGroup]="airspaceForm">
  <div id="option-edit" formGroupName="options">
    <p class="mat-body-strong">Options<p>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex.xs="auto" fxFlex="0 1 15em">
        <mat-label>Max Level:</mat-label>
        <mat-select formControlName="maxLevel">
          <mat-option *ngFor="let x of maxLevels" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex.xs="auto" fxFlex="0 1 15em">
        <mat-label>Radio Frequencies:</mat-label>
        <mat-select formControlName="radioFreqs">
          <mat-option *ngFor="let x of radioFreqs" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex.xs="auto" fxFlex="0 1 15em">
        <mat-label>Omit North of:</mat-label>
        <mat-select formControlName="north">
          <mat-option *ngFor="let x of norths" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex.xs="auto" fxFlex="0 1 15em">
        <mat-label>Omit South of:</mat-label>
        <mat-select formControlName="south">
          <mat-option *ngFor="let x of souths" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex.xs="auto" fxFlex="0 1 15em">
        <mat-label>Format:</mat-label>
        <mat-select formControlName="format">
          <mat-option *ngFor="let x of format" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-container>
