<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title class="mat-body-strong">
      Local Agreements
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container [formGroup]="airspaceForm">
    <div id="loa-edit" formArrayName="loa">
      <div fxLayout="row wrap" fxLayoutGap="5px grid" fxAlign="start">
        <div fxFlex="33%" fxFlex.lt-sm="100%" fxFlex.lt-lg="50%" *ngFor="let loa of names; index as i">
          <mat-checkbox [formControlName]="i">
            {{loa}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </ng-container>

  <mat-action-row>
    <button mat-button color="primary" type="button" (click)="clearall()">
      Clear
    </button>
  </mat-action-row>
</mat-expansion-panel>
