<div id="notam" class="mat-typography">
  <h3>NOTAM</h3>
  <p>ASSelect data does <em>not</em> included NOTAMs. Instead the PDFs below show a summary of
  the navigation warning NOTAMs relevant to cross country gliding</p>
  <p>The NOTAMs are refreshed once every hour.</p>
  <p>
    <button mat-stroked-button
            color="primary" (click)="getnotam('today_south')" type="button">
      Download Today (England/Wales) PDF
    </button>
  </p>
  <p>
    <button mat-stroked-button
            color="primary" (click)="getnotam('today_north')" type="button">
       Download Today (Scotland) PDF
    </button>
  </p>
  <p>
    <button mat-stroked-button
            color="primary" (click)="getnotam('tomorrow_south')" type="button">
      Download Tomorrow (England/Wales) PDF
    </button>
  </p>
  <p>
    <button mat-stroked-button
            color="primary" (click)="getnotam('tomorrow_north')" type="button">
      Download Tomorrow (Scotland) PDF
    </button>
  </p>
</div>
