<div id="notam" class="mat-typography">
  <h3>NOTAM</h3>
  <p>ASSelect data does <em>not</em> included NOTAMs. Instead the PDFs below show a summary of
  the navigation warning NOTAMs relevant to cross country gliding</p>
  <p>The NOTAMs are refreshed once every hour.</p>
  <p>
  <a href="https://drive.google.com/uc?id=1CChND79djTLhRd5yy3U0UOkyV_VGZmUH&export=download">
    Download Today (England/Wales) PDF
  </a>
  </p>
  <p>
  <a href="https://drive.google.com/uc?id=1Zipk8AjVATio21s_yk7OlZaFhuFQd1DK&export=download">
    Download Today (North England/Scotland) PDF
  </a>
  </p>
  <p>
  <a href="https://drive.google.com/uc?id=1sv5SiHiSgFFCDboZnIjHn21WFhvzcdll&export=download">
    Download Tomorrow (England/Wales) PDF
  </a>
  </p>
  <p>
  <a href="https://drive.google.com/uc?id=1-RRiOlcY7z80tvsFQ3Sm1iE5T3-_Wpw-&export=download">
    Download Tomorrow (North England/Scotland) PDF
  </a>
  </p>
</div>
